<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmstudios.redmoon" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name="com.jmstudios.redmoon.activity.ShadesActivity"
            android:label="@string/shades_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.jmstudios.redmoon.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.jmstudios.redmoon.receiver.SwitchAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/switch_appwidget_info" />
        </receiver>

        <receiver android:name="com.jmstudios.redmoon.receiver.AutomaticFilterChangeReceiver">
        </receiver>

        <activity
            android:name="com.jmstudios.redmoon.activity.ShortcutCreationActivity"
            android:label="@string/shortcut_activity" >
          <intent-filter>
            <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
        </activity>

        <service
            android:name="com.jmstudios.redmoon.service.ScreenFilterService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
